@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
}
@media only screen and (max-width: 700px) {
  h1 img{ 
    width: 50%;
  }
.input{
  width:50%;
}
}


body {
  background-image: url("../images/Pokefondo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e1e1e1;
  text-align: center;
}

.busca {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 10px;
  font-size: 40px;
}

.input {
  height: 3rem;
  width: 10rem;
  margin: 10px;
  border: solid black;
  font-size: 19px;
}
.input input {
  width: 97%;
  height: 92%;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 19rem;
}

.container img {
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.container li {
  padding: 5px;
  object-fit: fill;
  font-size: medium;
  font-weight: bolder;
}

.container ul {
  background-image: url("../images/Tarjeta_pokemon.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
  width: 16rem;
  list-style: none;
  margin: 20px;
  border-radius: 12%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: solid 0.1px #212447cc;
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
  padding: 7px;
  border-radius: 20px;
  text-shadow: 3px 3px 2px #3546ae;
  color: rgba(156, 18, 18, 0.836);
}
footer {
  background-color: #ff0000;
  text-align: center;
}
h4 {
  font-size: larger;
}
