* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;800&display=swap");

body {
  background-image: url("../images/Pokefondo.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  font-size: larger;
  background-color: #E1E1E1;
}

@media (max-width: 810px) {
  .container {
    width: 70%;
    padding-top: 5rem;
  }
}
@media (max-width: 412px) {
  .container {
    width: 50%;
    padding-top: 0;

  }
}
@media (max-width: 810px) {
  header {
    width: 75%;
  }
}
@media (max-width: 412px) {
  header {
    width: 70%;
  }
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 19rem;
}

.container img {  
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.container li {
  padding: 5px;
  object-fit: fill;
  font-size: medium;
  font-weight: bold;
}

.container ul {
  background-image: url("../images/Tarjeta_pokemon.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
  width: 16rem;
  list-style: none;
  margin: 20px;
  border-radius: 12%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: solid 0.1px #212447cc;
}
h3 {
  text-transform: uppercase;
  font-size: 17px;
  padding: 7px;
  border-radius: 20px;
  text-shadow: 3px 3px 2px #3b5ba6;
  color: rgba(156, 18, 18, 0.836);
}

header{
  size: 100rem;
  margin-bottom: 20px;
    
}

